body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
p{
	font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

#webtitle{
	margin:0;
	padding:1.3em;
	width: 100%;
	height:5em;
	background-color:#3498DB;
}
#webtitle p{float:left;}
#webtitle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float:right;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#webtitle p{
	font-size:2.2em; 
	color:#FFFFFF;
	font-family: 'Roboto', sans-serif;
}
.nav{
	border-bottom: 1px solid #F2F2F2;
}
.nav a{
	font-size: 1.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
#content{
	margin:2em;
}
#content p{
	font-size: 1.2em;
}
#footer {
	position: absolute;
	margin-left: 40%;
	margin-right: auto;
	bottom: 0;
	width:25em;
	
}




svg {
    font: 12px sans-serif;
}

text {
    pointer-events: none;
    font-color:#FFFFFF;
}

.inner_node rect {
    pointer-events: all;
}

.inner_node rect.highlight {
    stroke: #315B7E;
    stroke-width: 2px;
}

.outer_node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
    pointer-events: all;
}

.outer_node circle.highlight
{
    stroke: #315B7E;
    stroke-width: 2px;
}

.link {
    fill: none;
}
body{
  background: #2E2E2E;
}